:root {
  --rp-c-brand: #f48120;
  --rp-c-brand-light: #f48120;
  --rp-c-brand-dark: #f48120;
  --rp-c-brand-darker: #f48120;
  --rp-home-hero-secondary-color: #cc3534;
  --rp-home-background-bg: unset;
}
