D1_DATABASE_ID=dafd23e23-dafdaf232-adfafd
D1_DATABASE_NAME=babadeluxe-registry
BUCKET=babadeluxe-registry
DB=babadeluxe-registry
FALLBACK_REGISTRY_POINT=https://registry.npmjs.org
TEST_MIGRATIONS=
ADMIN_TOKEN=dfasdfsdf
NODIST_PREFIX=C:\Program Files (x86)\Nodist